<nav class="navbar sticky-top d-flex justify-content-between bg-secondary">
  <%= link_to "Writer", root_path, class: "navbar-brand text-white p-2" %>
  <% if user_signed_in? %>
    <ul class="nav p-2">
        <%- if @folder %>
          <li class="nav-item">
            <%= link_to new_post_path(folder_id: @folder.id), class: "nav-link text-white btn btn-outline-secondary btn-sm" do %>
              <%= fa_icon "edit" %>
            <% end %>
          </li>
        <% end %>
        &nbsp;
        <%- if @folder || @post %>
          <li class="nav-item">
            <%= link_to @post.nil? ? @folder : @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link text-white btn btn-outline-secondary btn-sm" do %>
              <%= fa_icon "trash" %>
            <% end %>
          </li>
        <% end %>
    </ul>
  <% end %>
  <ul class="nav p-2">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to current_user.email, edit_user_registration_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item ml-auto">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link text-white") %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to('Login', new_user_session_path, class: "nav-link text-white") %>
      </li>
    <% end %>
  </ul>
</nav>