<!DOCTYPE html>
<html>
<head>
  <title>Writer</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
  <%- if current_user %>
    <div class="row justify-content-center h-100">
      <div class="col-6">
        <%= render 'layouts/left_side' %>
      </div>
      <div class="col-6">
        <%= yield %>
      </div>
    </div>
  <%- else %>
    <%= yield %>
  <% end %>
</div>
</body>
</html>